
<div class = "login">
    <div class="form">
        <form>

            <h2 >LOGIN!</h2>
            
            <!-- uname -->
            <div class="uname">
                <h3>Username</h3>
                <input id="uname" type="text"> 
            </div>

            <!-- password -->
            <div class="pw">
                <h3>Password</h3>
                <input id="pw" type="password">
            </div>
            
            <!--Login Button-->
            <div class="log" routerLink = "Login">
                <input type="submit" value="Login">
            </div>    
            </form>
    </div>
    
</div>
<div class="body">
    <img src = "assets/img/invest.gif">  
    <div class="txt">
        <h2>Grow your money!</h2>
        <h5>Invest in mutual funds, fixed deposit & NPS to secure your future</h5>
        <pre>
*  0% commission in direct mutual funds

*  Invest in top performing schemes

*  Track all your investments at one place
        </pre> 
    </div>    
</div>       


